entrypoint = "main.exs"
run = "elixir main.exs"
modules = ["nodejs-20"]

[env]
HEX_HOME = "$REPL_HOME/.hex"
MIX_HOME = "$REPL_HOME/.mix"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Phoenix Server"

[[workflows.workflow]]
name = "Setup"
author = 11084461
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mix deps.get"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mix ecto.setup"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mix assets.setup"

[[workflows.workflow]]
name = "Phoenix Server"
author = 11084461
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mix phx.server"

[[ports]]
localPort = 4000
externalPort = 80
